@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}
body {
    background-color: antiquewhite;
}
.container{
    width:90%;
    margin: 80px auto;
    background-color: white;
    border: 1px solid red;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
img{
    width:5%;
}
.logo{
    width:10%
}